.entityList
  h1.font-sans.text-2xl {{ entityName }}
  p(v-if="errored") {{ errorMessage }}
  p(v-if="loading")
    Spinner(fill="orange" height="30px" dur="1.0s")
    |  Loading...
  div(v-else)
    block listedEntity
    Paginate(:perPage="perPage" :currentPage="currentPage" :total="totalResult" :callback="callbackPaginate" :entityName="entityName")
    div(v-if="copyright") {{ copyright }}
